<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
		<title>CRUD TEST</title>
		<meta name="description" content="CRUD Test">
		<noscript>Somente é possível acessar ativando o Javascript.</noscript>
		<style>
			html{
				font-size: 15px;
			}
			body{
				font-family: monospace;
				margin: 0;
				padding: 1rem;
			}
		</style>
		<link rel="stylesheet" href="css/crud.css">
		<link rel="stylesheet" href="//skit.local/assets/skit-dist/skit.css">
	</head>
	<body>
		<script src="//skit.local/assets/skit-dist/skit.js"></script>
		<script src="js/vue.min.js"></script>
		{body}
	</body>
</html>